@import url('https://fonts.googleapis.com/css?family=Cantarell|Maven+Pro|Montserrat|Poiret+One|Questrial|Righteous|Sirin+Stencil|Supermercado+One');

html, body {
	margin: 0;
}

.backgroundImg {
	background: url('public/images/France/Nice/IMG_4542.JPG') no-repeat 50% 50% fixed;
  	background-size: cover;
  	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
  	margin: 10px;
}

.header-cont {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	position: fixed;
	margin: 0px auto;
	margin-bottom: 10px;
	top: 0px;
	background-color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	z-index: 1;
	opacity: 0.8;
}

.headerTitle {
	color: black;
	margin: 20px;
	margin-right: auto;
	font-size: 25px;
	font-weight: 1000;
	border-bottom: solid black 2px;
	font-family: 'Poiret One';
}

.sideNavBar {
	text-align: center;
	margin-right: 20px;
}

.dropbtn
{
	background-color: white;
	color: black;
	padding: 10px;
	font-size: 30px;
	border: none;
	cursor: pointer;
}

.title-slideshow {
	margin-top: 80px;
	width: 95%;
	border-bottom: solid grey 0.5px;
}

.title-slideshow p {
	font-size: 18px;
	font-family: 'Cantarell';
	text-align: center;
	color: grey;
	z-index: 3;
}

.title-bar {
	width: 50px;
	height: 2px;
	background-color: orange;
}

.wrapper-figure {
	width: 100%;
	padding-bottom: 75%;
}

.headerTitle:hover {
	transition: border-bottom 0.1s ease;
	border-bottom: solid black 4px;
}

.container-1 {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
}

.wrapper {
	width: 100%;
	margin: auto;
}

.css-slideshow {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	z-index: -1;
	width: 100%;
	padding-bottom: 56.25%;
	margin: 1em auto 1em auto;
}

.css-slideshow figure {
	margin: 0;
	position: absolute;
	top: 0;
	width: auto;
	height: 100%;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

figure img {
	width: auto;
	height: 100%;
}

.css-slideshow figcaption {
	position: absolute;
	top: 0;
	color: #fff;
	background: rgba(0,0,0, .3);
	font-size: .8em;
	padding: 8px 12px;
	opacity: 0;
	transition: opacity 1s;
}

.css-slideshow:hover figure figcaption {
	transition: opacity 0.5s;
	opacity: 1;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.css-slideshow figure {
	opacity: 0;
}

figure:nth-child(1) {
	animation: xfade 20s 0s infinite;
}

figure:nth-child(2) {
	animation: xfade 20s 5s infinite;
}

figure:nth-child(3) {
	animation: xfade 20s 10s infinite;
}

figure:nth-child(4) {
	animation: xfade 20s 15s infinite;
}

@keyframes xfade {
	0% {
		opacity: 1;
	}
	20% {
		opacity: 1;
	}
	25% {
		opacity: 0;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}