@import url('https://fonts.googleapis.com/css?family=Cantarell|Maven+Pro|Montserrat|Poiret+One|Questrial|Righteous|Sirin+Stencil|Supermercado+One');
 
html {
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	background-color: #EEEBEB;
  	margin: 0;
}

@keyframes fadein {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.navBarOptions {
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: #EEEBEB;
	width: 100%;
	height: 100vh;
	text-align: center;
	padding-top: 65px;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	transition: linear 0.4s;
}

.showNavBar {
	opacity: 1;
	visibility: visible;
}

.option-a {
	color: white;
	display: block;
	font-size: 30px;
	font-family: 'Questrial';
	padding: 10px;
	margin: 10px;
	text-decoration: none;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	z-index: 2;
	transition: linear 0.2s;
	background-color: transparent;
	border-radius: 5px;
	/* #9A9A9A */
}

.header-cont {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	width: 100%;
	position: fixed;
	margin: 0px auto;
	margin-bottom: 10px;
	top: 0px;
	background-color: #EEEBEB;
	z-index: 3;
	/*
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	*/
}

.headerTitle-a {
	margin: 20px;
	margin-right: auto;
	text-decoration: none;
	z-index: 3;
}

.headerTitle {
	color: white;
	font-size: 25px;
	font-weight: 1000;
	/* border-bottom: solid white 2px; */
	font-family: 'Supermercado One', 'Montserrat';
	z-index: 3;
}

.sideNavBar {
	text-align: center;
	margin-right: 15px;
	z-index: 3;
}

.dropbtn
{
	background-color: transparent;
	color: white;
	padding: 10px;
	font-size: 30px;
	border: none;
	cursor: pointer;
	z-index: 1;
}

/* CSS for cali.html page 
 *
 */

.container {
	margin-top: 65px;
	background-color: #EEEBEB;
}

.row {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.cell {
	flex: 0 0 45%;
	margin: 5px;
	/* background-color: blue; */
}

.cell img {
	margin: auto;
	width: 100%;
	max-width: 600px;
	max-height: 100%; 
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

#currentPic img {
	margin: auto;
	width: 100%;
	max-width: 350px;
	max-height: 100%; 
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.overlay {
	height: 100vh;
	width: 100%;
	background-color: #EEEBEB;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	opacity: 0;
	visibility: hidden;
	transition: linear 0.4s;
}

.showOverlay {
	opacity: 1;
	visibility: visible;
}

.closeOverlay {
	position: fixed;
	top: 5px;
	right: 0;
	margin: 10px;
	background-color: #EEEBEB;
	padding: 0px 20px 0px 20px;
	border: 0;
	font-size: 35px;
	color: white;
}

#previousPic {
	color: white;
	font-size: 50px;
	margin: 20px;
	transition: linear 0.3s;
}

#nextPic {
	color: white;
	font-size: 50px;
	margin: 20px;
	transition: linear 0.3s;
}

.footer-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 20px;
	margin-top: 0px;

}

.contact-details-a, .about-details-a {
	width: 70%;
	height: 50px;
	background-color: transparent;
	margin: 10px;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	display: flex;
	justify-content: flex-end;
	align-items: center;
	cursor: pointer;
	text-decoration: none;
	border-radius: 5px;
}

.contact-details-a:hover, .about-details-a:hover, .insta-icon:hover, .git-icon:hover {
	transition: linear 0.2s;
	background-color: #BBBBBB;
}

.contact-span {
	margin-right: auto;
	color: white;
	font-family: 'Questrial';
	padding: 20px;
	font-size: 18px;
}

.about-span {
	margin-right: auto;
	color: white;
	font-family: 'Questrial';
	padding: 20px;
	font-size: 18px;
}

.contact-arrow, .about-arrow {
	font-size: 20px;
	color: white;
	padding: 20px;
}

.social-icons {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.insta-icon {
	display: inline-block;
	margin: 10px;
	padding: 8px 10px 8px 10px;
	color: white;
	font-size: 28px;
	background-color: transparent;
	text-align: center;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	cursor: pointer;
	border-radius: 5px;
}

.git-icon {
	display: inline-block;
	margin: 10px;
	padding: 8px 10px 8px 10px;
	color: white;
	font-size: 25px;
	background-color: transparent;
	text-align: center;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	cursor: pointer;
	border-radius: 5px;
}

.copyright-info {
	color: #BBBBBB;
	font-family: 'Questrial';
}

.container-contact {
	margin-top: 65px;
	background-color: #EEEBEB;
	height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.contact-explanation {
	margin: 20px;
	margin-bottom: 340px;
}

.firstLine, .secondLine, .thirdLine {
	color: #BBBBBB;
	font-family: 'Questrial';
}

.footer-cont-contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: 50px;
	text-align: center;
	/* position: fixed;
	bottom: 0;
	left: 0; 
	*/
}

#cellAbout img {
	margin: auto;
	width: 100%;
	max-width: 600px;
	min-width: 345px;
	max-height: 100%; 
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
}

.title-h3 {
	width: 45%;
	color: #BBBBBB;
	font-family: 'Questrial';
	font-size: 15px;
	background-color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	padding: 3px;
	text-align: center;
}
.about-h3 {
	width: 65%;
	color: #BBBBBB;
	font-family: 'Questrial';
	font-size: 15px;
	background-color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	padding: 4px;
	text-align: center;
}

.about-p {
	font-size: 14px;
	font-family: 'Questrial';
	text-align: center;
	color: #BBBBBB;
	background-color: white;
	box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
	border-radius: 5px;
	padding: 10px;
}

.copyright-div {
	text-align: center;
}

/*
a.image-container {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

a.image-container img {
 	width: auto;
 	height: 100%;
}
*/