<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title> Photo Porto </title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/options.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="hamburgers-master/dist/hamburgers.css" rel="stylesheet">
		<script src="public/scripts/openPhoto.js" async> </script>
		<script src="public/scripts/navBarOptions.js" async> </script>
		<script src="public/scripts/touch-hover.js" async> </script>
		<!-- I need to add type="module" back into the scripts above -->
	</head>
	<body>
		<header class="header-cont">
			<a class="headerTitle-a" href="main1.html">
			<span class="headerTitle"> The BiConvex Eye </span>
			</a>
			<button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</header>
		<div class="container">
			<div class="navBarOptions">
				<a class="option-a" href="cali.html">
					<span class="navLink"> Cali </span>
				</a>
				<a class="option-a" href="france.html">
					<span class="navLink"> France </span>
				</a>
				<a class="option-a" href="iceland.html">
					<span class="navLink"> Iceland </span>
				</a>
				<a class="option-a" href="italy.html">
					<span class="navLink"> Italy </span>
				</a>
				<a class="option-a" href="portraits.html">
					<span class="navLink"> Portraits </span>
				</a>
				<a class="option-a" href="wildlife.html">
					<span class="navLink"> Wildlife </span>
				</a>
				<a class="option-a" href="contact.html">
					<span class="navLink"> Contact </span>
				</a>
				<a class="option-a" href="about.html">
					<span class="navLink"> About </span>
				</a>
			</div>
			<div class="overlay">
				<!--
				<span>
					<p> This is a description of the current photo <br> This is the second line of the description <br> Third line 
					</p>
				</span>
				-->
				<button class="closeOverlay" id="closeOverlay"> <i class="fas fa-th-large"></i> </button>
				<span id="currentPic"> </span>
				<span id="previousPic"> 
					<i class="fas fa-chevron-left"></i> 
				</span>
				<span id="nextPic"> 
					<i class="fas fa-chevron-right"></i>
				</span>
			</div> 
			<div class="row">
				<h3 class="title-h3"> Munich, Germany ~ September 23rd, 2018 </h3>
				<div id="cellAbout" class="cell">
					<img src="public/images/about.png" alt="Photo for Mitchel Baker"/>
				</div>
				<h3 class="about-h3"> \\ Just a few thoughts and ideas // </h3>
				<div class="cell">
					<p class="about-p"> \\ Photography is a creative art, one that captivates the mind through it's expressive nature: a perfect unison between the BiConvex Eye and the fluidic motions comprising a photograph.. // </p>
				</div>
				<div class="cell">
					<p class="about-p"> \\ Earth is a natural and worldly canvas anticipating the precise shot of the photographer.. it's openness is the most pristine environment for creative cultivation to develop. // </p>
				</div>
				<div class="cell">
					<p class="about-p"> \\ I know it is essential to experience the present moment and create a balance within the busy lives we live.. I require a gasp of air and a relaxing break from all the commotion society throws at us.. I believe that myself and others must formulate a relationship with nature, and the idea of being.. welcome to life. // </p>
				</div>
				<footer class="footer-cont-contact">
					<div class="copyright-div">
						<span class="copyright-info"> © Mitchel Richard Padron Baker / 	All Rights Reserved </span>
					</div>
				</footer>
			</div>
		</div>
	</body>
</html>