<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1"/>
		<title> Photo Porto </title>
		<link type="text/css" rel="stylesheet" href="/stylesheets/options.css"/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
		<link href="/stylesheets/hamburgers-master/dist/hamburgers.css" rel="stylesheet">
		<script src="openPhoto.js" async> </script>	
		<script src="navBarOptions.js" async> </script>
		<script src="touch-hover.js" async> </script>
		<!-- I need to add type="module" back into the scripts above -->
	</head>
	<body>
		<header class="header-cont">
			<a class="headerTitle-a" href="/main">
			<span class="headerTitle"> The BiConvex Eye </span>
			</a>
			<button class="hamburger hamburger--collapse" type="button">
				<span class="hamburger-box">
					<span class="hamburger-inner"></span>
				</span>
			</button>
		</header>
		<div class="container">
			<div class="navBarOptions">
				<a class="option-a" href="/cali">
					<span class="navLink"> Cali </span>
				</a>
				<a class="option-a" href="/france">
					<span class="navLink"> France </span>
				</a>
				<a class="option-a" href="/iceland">
					<span class="navLink"> Iceland </span>
				</a>
				<a class="option-a" href="/italy">
					<span class="navLink"> Italy </span>
				</a>
				<a class="option-a" href="/portraits">
					<span class="navLink"> Portraits </span>
				</a>
				<a class="option-a" href="/wildlife">
					<span class="navLink"> Wildlife </span>
				</a>
				<a class="option-a" href="/contact">
					<span class="navLink"> Contact </span>
				</a>
				<a class="option-a" href="/about">
					<span class="navLink"> About </span>
				</a>
			</div>
			<div class="row">
				<div class="cell" id="cell1">
					<img src="/images/cali/comp/IMG_1605.jpg" alt=""/>
				</div>
				<div class="cell" id="cell2">
					<img src="/images/cali/comp/IMG_1323.jpg" alt=""/>
				</div>
				<div class="cell" id="cell3">
					<img src="/images/cali/comp/IMG_3915.jpg" alt=""/>
				</div>
				<div class="cell" id="cell4">
					<img src="/images/cali/comp/IMG_1937.jpg" alt=""/>
				</div>
				<div class="cell" id="cell5">
					<img src="/images/cali/comp/IMG_2377.jpg" alt=""/>
				</div>
				<div class="cell" id="cell6">
					<img src="/images/cali/comp/IMG_2594.jpg" alt=""/>
				</div>
				<div class="cell" id="cell7">
					<img src="/images/cali/comp/IMG_3573.jpg" alt=""/>
				</div>
				<div class="cell" id="cell8">
					<img src="/images/cali/comp/IMG_3105.jpg" alt=""/>
				</div>
				<div class="cell" id="cell9">
					<img src="/images/cali/comp/IMG_1792.jpg" alt=""/>
				</div>
				<div class="cell" id="cell10">
					<img src="/images/cali/comp/IMG_3372.jpg" alt=""/>
				</div>
				<div class="cell" id="cell11">
					<img src="/images/cali/comp/IMG_2690.jpg" alt=""/>
				</div>
				<div class="cell" id="cell12">
					<img src="/images/cali/comp/IMG_3920.jpg" alt=""/>
				</div>
				<div class="cell" id="cell13">
					<img src="/images/cali/comp/IMG_4064.jpg" alt=""/>
				</div>
				<div class="cell" id="cell14">
					<img src="/images/cali/comp/IMG_2105.jpg" alt=""/>
				</div>
				<div class="cell" id="cell15">
					<img src="/images/cali/comp/IMG_1405.jpg" alt=""/>
				</div>
				<div class="cell" id="cell16">
					<img src="/images/cali/comp/IMG_1920.jpg" alt=""/>
				</div>
				<div class="cell" id="cell17">
					<img src="/images/cali/comp/IMG_3945.jpg" alt=""/>
				</div>
				<div class="cell" id="cell18">
					<img src="/images/cali/comp/IMG_3693.jpg" alt=""/>
				</div>
				<div class="cell" id="cell19">
					<img src="/images/cali/comp/IMG_3076.jpg" alt=""/>
				</div>
				<div class="cell" id="cell20">
					<img src="/images/cali/comp/IMG_3986.jpg" alt=""/>
				</div>
			</div>
			<div class="overlay">
				<!--
				<span>
					<p> This is a description of the current photo <br> This is the second line of the description <br> Third line 
					</p>
				</span>
				-->
				<button class="closeOverlay" id="closeOverlay"> <i class="fas fa-th-large"></i> </button>
				<span id="currentPic"> </span>
				<span id="previousPic"> 
					<i class="fas fa-chevron-left"></i> 
				</span>
				<span id="nextPic"> 
					<i class="fas fa-chevron-right"></i>
				</span>
			</div> 
			<footer class="footer-cont">
				<a class="contact-details-a" href="/contact">
					<span class="contact-span">
					 Contact Details 
					</span>
					<span class="contact-arrow">
						<i class="fas fa-long-arrow-alt-right"></i>
					</span>
				</a>
				<a class="about-details-a" href="/about"> 
					<span class="about-span">
					 About Me 
					</span>
					<span class="contact-arrow">
						<i class="fas fa-long-arrow-alt-right"></i>
					</span>
				</a>
				<div class="social-icons"> 
					<a class="insta-icon" href="https://www.instagram.com/mitchthebaker/"> 
						<i class="fab fa-instagram"></i>
					</a>
					<a class="git-icon" href="https://github.com/mitchthebaker?tab=overview&from=2018-11-01&to=2018-11-30">
						<i class="fab fa-github"></i>
					</a>
				</div>
				<div class="copyright-div">
					<span class="copyright-info"> © Mitchel Richard Padron Baker / All Rights Reserved </span>
				</div>
			</footer>
		</div>
	</body>
</html>